<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Cayenne Metrics<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.data.deposit-size.mean" data-view="Number" data-title="Mean deposit size"
           data-suffix="B"></div>
    </li>  
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cayenne.data.deposit-size" data-graphtype="bar" data-view="Graph" data-title="Deposit sizes"></div>
    </li>      
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.data.deposit-count" data-view="Number" data-title="Deposits to date"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.data.deposits-received" data-view="Meter" data-title="Deposit rate"
           data-moreinfo="Avg. per second over last 5 mins" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ring.requests.rate" data-view="Meter" data-title="API request rate"
           data-moreinfo="Avg. per second over last 5 mins" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ring.responses.rate.4xx" data-view="Meter" data-title="API fail rate"
           data-moreinfo="Avg. per second over last 5 mins" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.jobs.waiting" data-view="Meter" data-title="Jobs queued"
           data-min="0" data-max="1000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.jobs.completed" data-view="Number" data-title="Jobs completed"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.jobs.failed" data-view="Number" data-title="Jobs failed"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.jobs.running" data-view="Meter" data-title="Jobs running"
           data-min="0" data-max="40"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.xml.record-process-rate" data-view="Meter" 
           data-title="Record processing rate"
	   data-moreinfo="Avg. per second over last 5 mins"
           data-min="0" data-max="250"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.xml.records-processed" data-view="Number" 
           data-title="Records processed"></div>
    </li>
  </ul>
</div>
