<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.data.deposit-size.mean" data-view="Number" data-title="Mean deposit size"></div>
    </li>
    <li data=row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.data.deposits-received" data-view="Number" data-title="Deposits per minute"></div>
    <li>
    <li data=row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cayenne.data.deposit-count" data-view="Number" data-title="Deposits to date"></div>
    <li>
  </ul>
</div>